---
import { Image } from "astro:assets";
import footerLogo from "../assets/footer_logo.png";
import phoneIcon from "../assets/footer/phone.svg?url";
import emailIcon from "../assets/footer/mail.svg?url";
---

<footer class="bg-[var(--color-primary-50)] text-[var(--color-text-900)] py-6">
  <div
    class="container mx-auto flex flex-col md:flex-row items-center justify-between"
  >
    <div class="mb-4 md:mb-0 flex items-center">
      <Image src={footerLogo} alt="Logotipo de HGB" class="mr-2 h-8 w-8" />
      <p class="section-subtitle ml-2">Contacto</p>
    </div>
    <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-8">
      <p class="section-text">
        <span class="font-medium flex items-center gap-2">
          <img src={emailIcon} alt="Correo Icono" class="h-4 w-4" />
          Correo:
        </span>
        <a href="mailto:contacto@hgbgroup.com.mx" class="hover:underline">
          contacto@hgbgroup.com.mx
        </a>
      </p>
      <p class="section-text">
        <span class="font-medium flex items-center gap-2">
          <img src={phoneIcon} alt="Teléfono Icono" class="h-4 w-4" />
          Teléfono:
        </span>
        <a href="tel:+525554181968" class="hover:underline">555 418 1968</a>
      </p>
    </div>
  </div>
  <div
    class="container mx-auto mt-6 border-t border-[var(--color-secondary-200)] pt-4"
  >
    <div
      class="flex flex-col lg:flex-row justify-between text-sm text-center lg:text-left space-y-4 lg:space-y-0 px-6 md:px-0"
    >
      <div class="mb-4 lg:mb-0">
        <p class="font-bold section-text">
          Soluciones eléctricas y de iluminación
        </p>
        <p class="section-text mt-1">
          Expertos en Equipos y proyectos Eléctricos en México y Centroamérica
        </p>
      </div>
      <p class="section-text">
        &copy; 2025 HGB Group. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
