---

---

<section id="mision-vision" class="py-12 px-4 bg-[var(--color-background-50)]">
  <div class="container mx-auto">
    <h2
      class="text-center text-3xl font-bold mb-8 text-[var(--color-text-900)]"
    >
      Misión y Visión
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Misión -->
      <div class="p-8 bg-white shadow rounded">
        <h3 class="text-2xl font-semibold mb-4 text-[var(--color-primary-500)]">
          Misión
        </h3>
        <p class="text-lg text-[var(--color-text-700)]">
          Así mismo, HGB Group tiene como objetivo cuidar y proponer medidas en
          el cuidado del medio ambiente, así como fortalecer el crecimiento de
          la empresa y el desarrollo profesional de sus empleados.
        </p>
      </div>
      <!-- Visión -->
      <div class="p-8 bg-white shadow rounded">
        <h3 class="text-2xl font-semibold mb-4 text-[var(--color-primary-500)]">
          Visión
        </h3>
        <p class="text-lg text-[var(--color-text-700)]">
          Ser el mayor proveedor de productos y soluciones eléctricas a nivel
          nacional e internacional. Ser reconocidos por la calidad humana y
          profesional de nuestros empleados, teniendo una conciencia ecológica
          en todos nuestros procesos.
        </p>
      </div>
    </div>
  </div>
</section>
