---

---

<section id="mision-vision" class="py-12 px-4 bg-[var(--color-background-50)]">
  <div class="container mx-auto">
    <h2 class="section-title text-[var(--color-text-900)] mb-8 text-center">
      Misión y Visión
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Misión -->
      <div
        class="p-8 md:p-10 lg:p-12 bg-white shadow rounded-[5px] border border-gray-200"
      >
        <h3 class="section-subtitle text-[var(--color-primary-500)] mb-4">
          Misión
        </h3>
        <p class="section-text">
          Así mismo, HGB Group tiene como objetivo cuidar y proponer medidas en
          el cuidado del medio ambiente, así como fortalecer el crecimiento de
          la empresa y el desarrollo profesional de sus empleados.
        </p>
      </div>
      <!-- Visión -->
      <div
        class="p-8 md:p-10 lg:p-12 bg-white shadow rounded-[5px] border border-gray-200"
      >
        <h3 class="section-subtitle text-[var(--color-primary-500)] mb-4">
          Visión
        </h3>
        <p class="section-text">
          Ser el mayor proveedor de productos y soluciones eléctricas a nivel
          nacional e internacional. Ser reconocidos por la calidad humana y
          profesional de nuestros empleados, teniendo una conciencia ecológica
          en todos nuestros procesos.
        </p>
      </div>
    </div>
  </div>
</section>
