---
import hgbLogo from "../assets/hgb_logo.svg?url";
import hamburgerIcon from "../assets/navbar/Hamburger.svg?url";
import closeIcon from "../assets/navbar/Cross.svg?url";
---

<nav
  class="bg-[var(--color-background-50)] text-[var(--color-text-900)] shadow fixed top-0 inset-x-0 z-50 h-20 navbar-height"
>
  <div class="container mx-auto flex items-center justify-between p-4 h-full">
    <a href="/">
      <img
        src={hgbLogo}
        alt="Logo HGB"
        class="h-10 md:h-12 hover:h-14 drop-shadow-md transition-all duration-300"
      />
    </a>

    <!-- Botón para menú móvil -->
    <button
      id="menu-toggle"
      class="relative block md:hidden w-8 h-8 focus:outline-none"
    >
      <img
        id="icon-open"
        src={hamburgerIcon}
        alt="Abrir menú"
        class="w-full h-full transition-opacity duration-300"
      />
      <img
        id="icon-close"
        src={closeIcon}
        alt="Cerrar menú"
        class="w-full h-full transition-opacity duration-300 opacity-0 absolute inset-0"
      />
    </button>

    <!-- Menú para pantallas md+ -->
    <ul class="hidden md:flex space-x-6 md:text-lg lg:text-xl">
      <li>
        <a
          href="#nosotros"
          class="inline-block hover:text-[var(--color-accent-500)] font-bold hover:scale-105 transform transition-transform duration-300"
        >
          Nosotros
        </a>
      </li>
      <li>
        <a
          href="#servicios"
          class="inline-block hover:text-[var(--color-accent-500)] font-bold hover:scale-105 transform transition-transform duration-300"
        >
          Servicios
        </a>
      </li>
      <li>
        <a
          href="#proyectos"
          class="inline-block hover:text-[var(--color-accent-500)] font-bold hover:scale-105 transform transition-transform duration-300"
        >
          Proyectos destacados
        </a>
      </li>
      <li>
        <a
          href="#mision-vision"
          class="inline-block hover:text-[var(--color-accent-500)] font-bold hover:scale-105 transform transition-transform duration-300"
        >
          Misión y Visión
        </a>
      </li>
      <li>
        <a
          href="#contacto"
          class="inline-block hover:text-[var(--color-accent-500)] font-bold hover:scale-105 transform transition-transform duration-300"
        >
          Contacto
        </a>
      </li>
      <li>
        <a
          href="#ubicacion"
          class="inline-block hover:text-[var(--color-accent-500)] font-bold hover:scale-105 transform transition-transform duration-300"
        >
          Ubicación
        </a>
      </li>
    </ul>
  </div>

  <!-- Overlay menú móvil full‑screen -->
  <div
    id="mobile-menu"
    class="md:hidden fixed inset-x-0 top-[4rem] hidden bg-[var(--color-background-50)] z-50"
  >
    <ul class="flex flex-col justify-evenly h-[calc(100vh-4rem)]">
      <li class="w-full">
        <a
          href="#nosotros"
          class="inline-block block text-2xl text-center p-4 hover:text-[var(--color-accent-500)] font-bold hover:scale-105 transform transition-transform duration-300"
        >
          Nosotros
        </a>
      </li>
      <li class="w-full">
        <a
          href="#servicios"
          class="inline-block block text-2xl text-center p-4 hover:text-[var(--color-accent-500)] font-bold hover:scale-105 transform transition-transform duration-300"
        >
          Servicios
        </a>
      </li>
      <li class="w-full">
        <a
          href="#mision-vision"
          class="inline-block block text-2xl text-center p-4 hover:text-[var(--color-accent-500)] font-bold hover:scale-105 transform transition-transform duration-300"
        >
          Misión y Visión
        </a>
      </li>
      <li class="w-full">
        <a
          href="#contacto"
          class="inline-block block text-2xl text-center p-4 hover:text-[var(--color-accent-500)] font-bold hover:scale-105 transform transition-transform duration-300"
        >
          Contacto
        </a>
      </li>
      <li class="w-full">
        <a
          href="#ubicacion"
          class="inline-block block text-2xl text-center p-4 hover:text-[var(--color-accent-500)] font-bold hover:scale-105 transform transition-transform duration-300"
        >
          Ubicación
        </a>
      </li>
    </ul>
  </div>

  <script>
    if (typeof document !== "undefined") {
      const menuToggle = document.getElementById("menu-toggle");
      const mobileMenu = document.getElementById("mobile-menu");
      const iconOpen = document.getElementById("icon-open");
      const iconClose = document.getElementById("icon-close");

      menuToggle?.addEventListener("click", () => {
        mobileMenu?.classList.toggle("hidden");
        iconOpen?.classList.toggle("opacity-0");
        iconClose?.classList.toggle("opacity-0");
      });
    }
  </script>
</nav>
