---
import { Image } from "astro:assets";
import solucionesImg from "../assets/services/soluciones.jpg";
import electrificacionImg from "../assets/services/servicios.jpg";
import iluminacionImg from "../assets/services/aplicaciones.jpg";
---

<section
  id="servicios"
  class="relative py-12 px-4 bg-[var(--color-background-50)]"
>
  <div class="container mx-auto">
    <h2 class="section-title text-[var(--color-text-900)] mb-6 text-center">
      Servicios
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Card: Soluciones Eléctricas -->
      <div class="bg-white shadow rounded p-4">
        <Image
          src={solucionesImg}
          alt="Soluciones eléctricas"
          class="w-full h-64 object-cover rounded shadow mb-4"
        />
        <h3 class="section-subtitle text-[var(--color-primary-500)] mb-2">
          Soluciones Eléctricas
        </h3>
        <p class="section-text">
          Ofrecemos productos como tableros de distribución, arranques y bancos
          de capacitores, asegurando la electrificación segura y eficiente de
          cualquier espacio. Cada solución está diseñada para optimizar el
          rendimiento eléctrico y cumplir con normativas específicas.
        </p>
      </div>

      <!-- Card: Servicios de electrificación -->
      <div class="bg-white shadow rounded p-4">
        <Image
          src={electrificacionImg}
          alt="Servicios de electrificación"
          class="w-full h-64 object-cover rounded shadow mb-4"
        />
        <h3 class="section-subtitle text-[var(--color-primary-500)] mb-2">
          Servicios de electrificación
        </h3>
        <p class="section-text">
          Proporcionamos servicios desde la generación hasta la distribución
          terminal, abarcando proyectos de electrificación en sectores públicos
          y privados. Cada solución es personalizada para asegurar un suministro
          eléctrico inteligente y sostenible.
        </p>
      </div>
      <!-- Card: Aplicaciones de iluminación -->
      <div class="bg-white shadow rounded p-4">
        <Image
          src={iluminacionImg}
          alt="Aplicaciones de iluminación"
          class="w-full h-64 object-cover rounded shadow mb-4"
        />
        <h3 class="section-subtitle text-[var(--color-primary-500)] mb-2">
          Aplicaciones de iluminación
        </h3>
        <p class="section-text">
          Desde la iluminación de oficinas hasta áreas exteriores, ofrecemos
          soluciones integrales que combinan diseño y funcionalidad. Nuestros
          sistemas garantizan el confort visual y el ahorro energético,
          adaptándose a diversos entornos.
        </p>
      </div>
    </div>
  </div>
</section>
