---
// src/components/Ubicanos.astro
---

<section id="ubicacion" class="py-12 bg-[var(--color-background-50)]">
  <div class="container mx-auto px-4">
    <!-- Título -->
    <h2 class="section-title text-[var(--color-text-900)] mb-8 text-center">
      Ubícanos
    </h2>

    <!-- Contenedor principal: Mapa | Info -->
    <div
      class="bg-white shadow-lg rounded-[5px] border border-gray-200 overflow-hidden flex flex-col md:flex-row items-center justify-between"
    >
      <div
        class="w-full md:w-1/2 p-4 overflow-hidden transform transition-transform duration-300 hover:scale-105"
      >
        <iframe
          class="w-full h-64 sm:h-80 md:h-96 lg:h-[400px] mx-auto rounded-[5px]"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.5396619038434!2d-99.17625762413375!3d19.38907534206809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff76a40721e9%3A0x89adb2360b71d719!2sAv.%20de%20los%20Insurgentes%20Sur%20826%2C%20Col%20del%20Valle%20Centro%2C%20Benito%20Ju%C3%A1rez%2C%2003100%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1744468243427!5m2!1ses-419!2smx"
          style="border:0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="w-full md:w-1/2 p-6 flex flex-col justify-center space-y-8">
        <div class="text-center md:text-left">
          <h4 class="section-subtitle-sm mb-2 text-center md:text-left">
            Dirección
          </h4>
          <p class="section-text text-[var(--color-text-900)] mb-4">
            Av. de los Insurgentes Sur 826, Col del Valle Centro, Benito Juárez,
            03100 Ciudad de México, CDMX
          </p>
          <div class="flex justify-center md:justify-start">
            <a
              href="https://www.google.com/maps/dir/?api=1&destination=Av.+de+los+Insurgentes+Sur+826,+Ciudad+de+México"
              target="_blank"
              class="px-6 py-2 bg-[var(--color-primary-500)] text-white font-medium rounded-md hover:bg-[var(--color-primary-600)] transition"
            >
              Cómo llegar
            </a>
          </div>
        </div>

        <!-- Horarios -->
        <div class="text-center md:text-left">
          <h4 class="section-subtitle-sm mb-2 text-center md:text-left">
            Hora Centro
          </h4>
          <div
            class="flex items-center justify-center md:justify-start space-y-2 md:space-y-0"
          >
            <p class="section-text w-full">
              <span class="font-medium">Lunes a Viernes:</span> 9:00–17:00 hrs
            </p>
            <p class="section-text w-full">
              <span class="font-medium">Sábado:</span> 10:00–14:00 hrs
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
